@import url("root.css");
html, body {
  height: 100%;
  overflow-y: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    -45deg,
    rgb(160, 5, 5),
    var(--black) 45%,
    var(--white) 150%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.back-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;
  padding: 8px 14px;
  color: white;
  text-decoration: none;
  border: none;
  transition: 0.2s;
}

.back-btn:hover {
  background: transparent;
  transform: translateY(-2px);
  border: none;
}

/* Контейнер каталога */
.catalog {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

/* Элемент списка категорий */
.item {
  background: #ffffff2c;
  border: 1px solid var(--light);
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.item:hover {
  border-color: var(--white);
  transform: translateY(-2px);
}

.item-info {
  max-width: 70%;
  display: grid;
  grid-template-columns: 80px 1fr; /* слева картинка, справа текст */
  grid-template-rows: auto auto;   /* две строки текста */
  column-gap: 15px;                /* расстояние между картинкой и текстом */
  align-items: center;
}

.item-title {
  font-size: 20px;
  margin: 0 0 5px;
  color: var(--white);
}

.item-desc {
  font-size: 14px;
  color: var(--button-light-border);
  margin: 0 0 10px;
}

/* Кнопка "Открыть" */
.btn-more {
  padding: 8px 14px;
  background: rgba(70, 69, 69, 0.479);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid var(--light);
  transition: 0.2s;
}

.btn-more:hover {
  background: rgba(170, 159, 159, 0.089);
  transform: translateY(-2px);
  border: 1px solid var(--white);
}
::selection {
  background: none;
  color: rgba(255, 0, 0, 0.753);
}

.item-info img {
  width: 80px;
  height: 60px;
  object-fit: contain;
grid-row: 1 / 3; /* картинка занимает две строки */
}