@import url("root.css");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    -45deg,
    rgb(160, 5, 5),
    var(--black) 45%,
    var(--white) 150%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Кнопка назад */
.back-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 9999;
  padding: 8px 14px;
  color: white;
  text-decoration: none;
  border: none;
  transition: 0.2s;
  font-size: 18px;
}

.back-btn:hover {
  transform: translateY(-2px);
}

/* Сетка */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 70%;
  margin: 100px auto 0;
  padding: 0 20px;
}

.cell {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: 100px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: 0.2s;
  user-select: none;
  text-decoration: none;
}

.cell:hover {
  border-color: white;
  background: rgba(255, 255, 255, 0.18);
  transform: translateY(-3px);
}
::selection {
  background: none;
  color: rgba(255, 0, 0, 0.753);
}

/* Адаптивность */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
